# Library Management

In [16]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from urllib import request
import tarfile

from sklearn.model_selection import train_test_split

In [2]:
os.getcwd()

'c:\\Users\\nikhi\\OneDrive\\डेस्कटॉप\\datascience_by_project\\Practice\\handson-ml3'

# Dataset Loading

In [6]:
os.makedirs('/dataset', exist_ok = True)

In [10]:
url = "https://github.com/ageron/data/raw/main/housing.tgz"
tgz_path = 'datasets/housing.tgz'

In [11]:
request.urlretrieve(url, tgz_path)

('datasets/housing.tgz', <http.client.HTTPMessage at 0x2638e1c98c0>)

In [13]:
housing_zip  = tarfile.open(tgz_path)
housing_zip.extractall(path = '/datasets/housing')
housing_zip.close()

C:\Users\nikhi\AppData\Local\Temp\ipykernel_21740\876444638.py:2: DeprecationWarning: Python 3.14 will, by default, filter extracted tar archives and reject files or modify their metadata. Use the filter argument to control this behavior.
  housing_zip.extractall(path = '/datasets/housing')

In [15]:
housing = pd.read_csv('datasets/housing/housing.csv')
housing.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

# Basic data check

In [18]:
housing.info()

# total_bedroom has null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

# Split the dataset into train and test to reduce bias

In [ ]:
train_set, test_set = train_test_split(housing, test_size = 0.2, random_state = 42)